---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Body from "./Body.astro";
type Props = CollectionEntry<"blog">["data"] & {
  hideDates?: boolean;
};

const { title, description, pubDate, updatedDate, heroImage, hideDates } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Body>
    <Header />
    <main>
      <article class="prose prose-invert">
        {heroImage && <img class="w-full" src={heroImage} alt="" />}
        <h1 class="my-4 font-bold text-gray-100">{title}</h1>
        {!hideDates && <FormattedDate date={pubDate} />}
        {
          updatedDate && !hideDates && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr class="my-4 border-yellow-500" />
        <slot />
      </article>
    </main>
    <Footer />
  </Body>
</html>
